.dropDown{
    width: 10%;
    height: 25px;
    margin-left: 170px;

}

.search{
    width: 30%;
    height: 20px;
    margin-left: 5px;
}

.addEmployeeformContainer{
    display: grid;
    margin-left: 40%;
    margin-top: 5%;
    width: 30%;
    height: 70%;
    box-shadow: black;
}