.header {
  width: 100vw;
  text-align: center;
  text-align: center;
  font-size: 30px;
  display: inline-block;
}

.dark-header {
  background-color: var(--dark-background);
  color: var(--dark-words);
}

.light-header {
  background-color: var(--light-background);
  color: black;
}

.header header h2 {
  padding: 0;
  margin: 0;
}
