:root {
    --dark-background: #222831;
    --dark-sidebar: #393e46;
    --dark-words: #ffd369;
    --dark-button: #eeeeee;
  
    --light-background: #d9e4dd;
    --light-sidebar: #fbf7f0;
    --light-words: #cdc9c3;
    --light-button: #555555;
  }
  
.header {
    width: 100vw;
    text-align: center;
    text-align: center;
    font-size: 30px;
    display: inline-block;
  }
  
  .dark-header {
    background-color: var(--dark-background);
    color: var(--dark-words);
  }
  
  .light-header {
    background-color: var(--light-background);
    color: black;
  }
  
  .header header h2 {
    padding: 0;
    margin: 0;
  }