.popup-form {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.dark-popup-form {
  background: var(--dark-sidebar);
}

.light-popup-form {
  background: var(--light-sidebar);
}

.form {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.dark-form {
  background: var(--dark-sidebar);
  color: var(--dark-words);
}

.light-form {
  background: var(--light-button);
  color: var(--light-sidebar);
}

.block {
  margin: 10px;
}

.buttons {
  float: right;
  margin: 2px;
}

.input {
  display: inline-block;
}
