body {
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-background: #222831;
  --dark-sidebar: #393e46;
  --dark-words: #eeeeee;
  --dark-button: #ffd369;

  --light-background: #d9e4dd;
  --light-sidebar: #fbf7f0;
  --light-words: #cdc9c3;
  --light-button: #555555;
}
